<div class="background-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="login-form">
            <div class="row">
              <div class="col text-center title-login">
                <h1 class="display-1">LOGIN</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="content-form shadow rounded-3">
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Id">
                        <label for="floatingInput">Id</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-center">
                      <button class="btn shadow rounded-5 btn-login ">LOGIN</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="lead link-reg"><a routerLink="/register" class="text-reset">No estoy registrado</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>