<div class="fondo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 content-form rounded shadow">
                <div class="row">
                    <div class="col">
                        <h1 class="display-6">Carné de salud</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead">Adjunte una imágen como comprobante de su carné de slaud vigente.</p>
                        <p class="lead">En caso de no estar vigente, debe agendarse en la clínica UCU para
                            actualizarlo.</p>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" (change)="onFileSelected($event)"
                                id="inputGroupFile02">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <button class="btn btn-Enviar">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>