<div class="fondo">
    <div class="container cont-fecha rounded shadow-sm">
        <div class="row">
            <div class="col">
                <p>Fecha de actualización</p>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                        disabled>
                    <label for="floatingInputDisabled">Fecha que recibe desde la base de datos</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
               <button routerLink="/agregarFecha" class="btn btn-agregar">Cambiar fecha</button>
            </div>
        </div>
    </div>
</div>


